<section>
<div class="row">
	<div id="contact-form" class="
		col-lg-offset-1 col-lg-8 col-md-offset-1 col-md-8 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10 align-content-center">
		<h1 class="darkCustomColor">Contact Us</h1>
		<form>
			<div class="form-group">
				<label for="usr">Name:</label>
				<input type="text" class="form-control" id="usr" placeholder="John Doe">
			</div>
			<div class="form-group">
				<label for="email">Email address:</label>
				<input type="email" class="form-control" id="email" placeholder="JohnDoe@email.com">
			</div>
			<div class="form-group">
				<label for="comment">Comment:</label>
				<textarea class="form-control" rows="5" id="comment" placeholder="Write your Message"></textarea>
			</div>
			<button id="submit-form" type="submit" class="btn btn-basic">Submit</button>
		</form>
	</div>
</section>
	<section class="contactUs">
      <div class="container">      
        <div id="text-center" class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h4>FOLLOW US ON SOCIAL MEDIA</h4>
          <div id="images">
              <a href="https://www.facebook.com/komalpatel96/"><img src="assets/img/facebook.png" class="contactImages" target="_blank"></a>
              <a href="https://www.instagram.com/_komalpatel/"><img src="assets/img/insta.png" class="contactImages" target="_blank"></a>
              <a href="https://www.twitter.com/_komalpatel/"><img src="assets/img/twitter.png" class="contactImages" target="_blank"></a>
            </div>
        </div>
      </div>
    </section>
</div>